[lang] body{font-family:NotoSansJP,Slack-Lato,appleLogo,sans-serif}
.p-alert_banner{font-size:15px;line-height:1.46668;font-weight:initial}
.p-alert_banner__text{vertical-align:middle}
.p-app_management_modal,.p-app_management_modal li{font-size:15px;line-height:1.46668;font-weight:initial}
.p-app_management_modal h2{font-size:22px;line-height:1.36365;font-weight:900}
.p-app_management_modal h3{font-size:18px;line-height:1.33334;font-weight:900;margin-bottom:0}
.p-channel_sidebar__jumper.c-button-unstyled{line-height:1.4375}
.p-coachmark{font-size:15px;line-height:1.46668;font-weight:initial}
.p-coachmark__title{font-size:18px;line-height:1.33334;font-weight:900}
button,input,select,textarea{font-family:inherit}
.c-legend{border:0}
.c-label{margin:initial;cursor:initial}
.c-label--block{display:block;margin:0}
.c-label--inline .c-label--inline{display:flex;align-items:baseline;vertical-align:middle;margin-bottom:4px}
.c-label--inline .c-label--inline .c-label__text{order:1;padding-bottom:0;position:relative;top:-1px}
.c-label--pointer{cursor:pointer}
.c-label--pointer[disabled]{cursor:default}
.c-label--with_subtext{font-weight:700}
.c-label--with_formatted_text{font-weight:400}
.c-input_radio{margin:initial;line-height:initial;width:initial;font-weight:initial}
.c-input_radio:focus{outline:initial;outline-offset:initial}
.c-input_radio[disabled],.c-input_radio[readonly]{background-color:initial}
.c-input_checkbox{margin:initial;line-height:initial;width:initial;font-weight:initial}
.c-input_checkbox:focus{outline:initial;outline-offset:initial}
.c-input_checkbox[disabled],.c-input_checkbox[readonly]{background-color:initial}
.c-input_text{font-size:initial;line-height:initial;padding:initial;border:initial;border-radius:initial;-webkit-appearance:initial;outline:initial;max-width:initial;color:initial;font-variant-ligatures:initial;transition:initial;box-shadow:initial;height:initial;background-color:initial;display:initial;vertical-align:initial;font-weight:initial}
.c-input_text[disabled],.c-input_text[readonly]{cursor:initial}
input.c-input_text,input[type=text].c-input_text{border-radius:4px;border:1px solid #919193;transition:border .2s ease-out,box-shadow .2s ease-out;box-sizing:border-box;margin:0 0 20px;padding:3px 12px 5px;height:36px;width:100%;font-size:15px;line-height:1.86666667;line-height:normal}
input.c-input_text:focus,input[type=text].c-input_text:focus{border:1px solid #0576b9;box-shadow:0 0 4px #2f9fe0,0 0 0 0 #0576b9;animation:border_focus_animation 3s ease-out}
input.c-input_text:focus:-moz-placeholder,input.c-input_text:focus:-ms-input-placeholder,input.c-input_text:focus::-moz-placeholder,input.c-input_text:focus::-webkit-input-placeholder,input[type=text].c-input_text:focus:-moz-placeholder,input[type=text].c-input_text:focus:-ms-input-placeholder,input[type=text].c-input_text:focus::-moz-placeholder,input[type=text].c-input_text:focus::-webkit-input-placeholder{color:#2d2e31}
input.c-input_text[disabled],input[type=text].c-input_text[disabled]{background:#f9f9f9;border:1px solid #919193}
input.c-input_text::-webkit-input-placeholder,input[type=text].c-input_text::-webkit-input-placeholder{color:#919193}
input.c-input_text:-moz-placeholder,input[type=text].c-input_text:-moz-placeholder{color:#919193}
input.c-input_text::-moz-placeholder,input[type=text].c-input_text::-moz-placeholder{color:#919193}
input.c-input_text:-ms-input-placeholder,input[type=text].c-input_text:-ms-input-placeholder{color:#919193}
input.c-input_text::placeholder,input[type=text].c-input_text::placeholder{color:#919193}
input.c-input_text.c-input_text--large,input[type=text].c-input_text.c-input_text--large{padding:11px 12px 13px;height:48px;font-size:18px;line-height:1.33333333}
input.c-input_text.c-input_text--with_hint,input[type=text].c-input_text.c-input_text--with_hint{margin-bottom:0}
input.c-input_text--with_default,input[type=text].c-input_text--with_default{border:1px solid #717274;border-bottom-left-radius:0;border-bottom-right-radius:0;margin-bottom:0}
input.c-input_text--with_default:focus,input.c-input_text--with_default:hover,input[type=text].c-input_text--with_default:focus,input[type=text].c-input_text--with_default:hover{border:1px solid #717274}
input.c-input_text--with_info,input[type=text].c-input_text--with_info{border:1px solid #2d9ee0;border-bottom-left-radius:0;border-bottom-right-radius:0;margin-bottom:0}
input.c-input_text--with_info:focus,input.c-input_text--with_info:hover,input[type=text].c-input_text--with_info:focus,input[type=text].c-input_text--with_info:hover{border:1px solid #2d9ee0}
input.c-input_text--with_success,input[type=text].c-input_text--with_success{border:1px solid #008952;border-bottom-left-radius:0;border-bottom-right-radius:0;margin-bottom:0}
input.c-input_text--with_success:focus,input.c-input_text--with_success:hover,input[type=text].c-input_text--with_success:focus,input[type=text].c-input_text--with_success:hover{border:1px solid #008952}
input.c-input_text--with_warning,input[type=text].c-input_text--with_warning{border:1px solid #ff9000;border-bottom-left-radius:0;border-bottom-right-radius:0;margin-bottom:0}
input.c-input_text--with_warning:focus,input.c-input_text--with_warning:hover,input[type=text].c-input_text--with_warning:focus,input[type=text].c-input_text--with_warning:hover{border:1px solid #ff9000}
input.c-input_text--with_error,input[type=text].c-input_text--with_error{border:1px solid #d72b3f;border-bottom-left-radius:0;border-bottom-right-radius:0;margin-bottom:0}
input.c-input_text--with_error:focus,input.c-input_text--with_error:hover,input[type=text].c-input_text--with_error:focus,input[type=text].c-input_text--with_error:hover{border:1px solid #d72b3f}
.c-input_textarea{vertical-align:initial;tab-size:initial;-webkit-appearance:initial;outline:initial;color:initial;max-width:initial;font-variant-ligatures:initial;transition:initial;box-shadow:initial;background-color:initial;font-weight:initial}
.c-input_textarea[disabled],.c-input_textarea[readonly]{cursor:initial}
.c-input_select{background:initial;-webkit-appearance:initial;outline:initial;color:initial;max-width:initial;font-variant-ligatures:initial;transition:initial;box-shadow:initial}
input[type=text].c-input_text.c-input_text.c-input_text--with_icon{padding-left:28px}
input[type=text].c-input_text.c-input_text.c-input_text--with_icon.c-input_text--large{padding-left:36px}
[lang] .c-message__body{line-height:1.46668}
[lang=ja-JP] .c-message__body{line-height:1.56668}
[lang] .c-message__content .ql-editor{line-height:1.46667}
[lang=ja-JP] .c-message__content .ql-editor{line-height:1.56667}
[lang] .c-search_message__body{line-height:1.46668}
[lang=ja-JP] .c-search_message__body{line-height:1.56668}
[lang] .c-search_message__content .ql-editor{line-height:1.46667}
[lang=ja-JP] .c-search_message__content .ql-editor{line-height:1.56667}
pre.c-mrkdwn__pre{margin:.5rem 0 .2rem;font-size:.75rem;line-height:1.15rem}
blockquote.c-mrkdwn__quote{position:relative;margin:.25rem 0;padding-left:16px}
blockquote.c-mrkdwn__quote:before{position:absolute;top:0;bottom:0;left:0;display:block;width:4px;border-radius:8px;background:#e3e4e6;content:''}
@media screen and (max-width:990px){#client-ui.flex_pane_showing:not(.details_showing) .p-notification_bar .p-notification_bar__formatting{display:none}
}
@media screen and (max-width:920px){#client-ui.flex_pane_showing.details_showing .p-notification_bar .p-notification_bar__formatting{display:none}
}
@media screen and (max-width:545px){#client-ui .p-notification_bar .p-notification_bar__formatting{display:none}
}
@media screen and (max-width:837px){#client-ui:not(.flex_pane_showing) .p-notification_bar__section--left:not(:empty)+.p-notification_bar__section--right{display:none}
}
@media screen and (max-width:1137px){#client-ui.details_showing .p-notification_bar__section--left:not(:empty)+.p-notification_bar__section--right{display:none}
}
@media screen and (max-width:1204px){#client-ui.flex_pane_showing:not(.details_showing) .p-notification_bar__section--left:not(:empty)+.p-notification_bar__section--right{display:none}
}
.c-sidebar_menu li{margin-bottom:4px}
.c-sidebar_menu__header{margin-bottom:0}
.c-sidebar_menu__divider{border:none;border-top:1px solid #e8e8e8;margin-bottom:16px}
@keyframes border_focus_animation{0%{box-shadow:0 0 4px .3px #2f9fe0,0 0 0 .5px #0576b9}
100%{box-shadow:0 0 4px 0 #2f9fe0,0 0 0 0 #0576b9}
}
ts-jumper ol li.highlighted:not(.no_hover) .c-app_label,ts-jumper ol:not(.keyboard_active) li:hover:not(.no_hover) .c-app_label{color:#fff;background-color:rgba(255,255,255,.3)}
.c-unified_member--dark .c-app_label,.tab_complete_ui li.tab_complete_ui_item.active .c-app_label{color:#fff;background-color:rgba(255,255,255,.3)}
ts-message:not(.first) .c-app_label{display:none}